:root {
    --ff-sans: -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
    --top-bar-hieght: 50px;
    --title-height: 60px;
}

body {
    margin: 0px;
    background-color: rgb(37, 37, 37);
}

.header {
    display: block;
}

.top-bar {
    position: fixed;
    top: 0;
    left:0;
    min-width: auto;
    width: 100%;
    background-color: rgb(95, 95, 95);
    height: var(--top-bar-hieght);
    z-index: 5050;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.top-bar-icons {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 30px;
}

.vc-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bar {
    display: none;
    width: 18px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;

  }

.top-bar-links {
    display: flex;
    justify-content: space-between;
}

.top-bar-link-single {
    padding: 0 10px;
    color: black;
    font-family: var(--ff-sans);
    border-radius: 1000px;
}

.top-bar-link-single:hover{
    background-color: rgb(138, 138, 138);
}

.top-bar-icons-hamburger:hover > * {
    background-color: rgb(138, 138, 138);
}

.container {
    position: relative;
    width: 100%;
    top: var(--top-bar-hieght);
    left: 0px;
    margin: 0;
}

.parallax {
    background: url(./assets/pfo.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    --webkit-background-size: cover;
    min-height: calc(100vh - var(--title-height) - var(--top-bar-hieght));
}

.title {
    padding-left: 30px;
    height: var(--title-height);
    color:blanchedalmond;
    font-family: var(--ff-sans);
}

.description {
    padding: 20px;
    color:azure;
    font-family: var(--ff-sans);
    background-color: rgb(29, 29, 29);
}

a:link {
    text-decoration: none;
}

.ps-relative {
    position: relative !important;
}

.jc-center {
    justify-content: center !important;
}

.ai-center {
    align-items: center !important;
}