#about {background-color: rgb(67, 60, 67);}

#about .title {color:rgb(181, 162, 181);}

lowlight {
    color: rgb(170, 170, 170);
}

#about a,
#about a:link,
#about a:visited {
    color: rgb(199 110 199) !important;
}