@import url('variables.css');

/* Oversize particles to generate particles off-screen */
#particles-js {
  position: fixed;
  width: 110vw;
  height: 110vh;
  top: -5vh;
  left: -5vw;
}

#canvas-element {
  z-index: 0;
  height: var(--canvas-height);
  width: 100vw;
}

#canvas-element, #particles-js {
  pointer-events: all;
}

a {
    pointer-events: auto;
}

body {
    pointer-events: none;
}