
.container {
    display: grid;
    margin: 10px 10px 10px 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 500px);
}

.pi-center, .pc-center {
    place-content: space-around;
    place-items: center;
}

.grid-item {
    --grid-item-spacing: 5px;
    display: flex;
    flex-direction: column;
    margin: var(--grid-item-spacing) var(--grid-item-spacing) 
            var(--grid-item-spacing) var(--grid-item-spacing);
    padding: var(--grid-item-spacing) var(--grid-item-spacing) 
            var(--grid-item-spacing) var(--grid-item-spacing);
    width: 90%;
    /* 100% width introduces bottom scroll-bar, why? */
    border-radius: 5px;
    background-color:black;
    color: gray;
    font-family: var(--ff-sans);
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item-title {
    color: white;
    font-weight: bold;
}

.grid-item-image {
    max-width: 100%
}

.grid-item-description {
    font-size: 0.9rem;
}