@import url('variables.css');

.top-bar {
    position: fixed;
    top: 0;
    left:0;
    min-width: auto;
    width: 100%;
    background-color: rgb(95, 95, 95);
    height: var(--top-bar-height);
    z-index: 5050;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.top-bar-icons {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 30px;
    max-width: var(--logo-width);
}

.bar {
    display: none;
    width: 18px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;

  }

.top-bar-links {
    display: flex;
    justify-content: space-between;
}

.top-bar-link-single {
    padding: 0 10px;
    color: black;
    font-family: var(--ff-sans);
    border-radius: 1000px;
}

.top-bar-link-single:hover{
    background-color: rgb(138, 138, 138);
}

.top-bar-icons-hamburger:hover > * {
    background-color: rgb(138, 138, 138);
}